[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci",
  "npm list serve || npm install serve"
]

[phases.build]
cmds = [
  "npm run build",
  "ls -la dist/"
]

[start]
cmd = "node_modules/.bin/serve dist -s -l ${PORT:-3000}"
